.border {
  &-demo--container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin: .5em 0;
  }

  .editor {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    pre {
      margin-bottom: 0;
      margin-top: 0;
    }

    textarea {
      transform: none;
    }
  }

  > pre {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    margin: 0 !important; // sass-lint:disable-line no-important
  }

  &ed {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
}
