@import '../node_modules/prismjs/themes/prism-okaidia';

.editor {
  overflow: hidden;
  position: relative;

  &--textarea,
  &--pre,
  &--code {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important; // sass-lint:disable-line no-important
    font-size: 1.1rem !important; // sass-lint:disable-line no-important
    left: 0;
    line-height: 1.25 !important; // sass-lint:disable-line no-important
    padding: 1rem !important; // sass-lint:disable-line no-important
    top: 0;
    white-space: pre-wrap !important; // sass-lint:disable-line no-important
    width: 100%;
    word-wrap: break-word;
  }

  &--textarea {
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
    -webkit-text-fill-color: transparent; // sass-lint:disable-line no-vendor-prefixes
    background: transparent;
    border: 0;
    caret-color: #fff; // sass-lint:disable-line no-color-literals
    color: transparent;
    outline: 0;
    padding: 2rem !important; // sass-lint:disable-line no-important
    position: absolute;
    resize: 0;

    transform: translateY(.5rem);
  }

  &--textarea,
  &--pre {
    min-height: 100%;
  }

  &--code {
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
  }
}


// .CodeFlask__textarea_line-numbers {
//     width: calc(100% - 3.8em);
//     margin-left: 3.8em;
//     padding-left: 0px !important;
// }

// .CodeFlask__pre_line-numbers {
//     padding-left: 3.8em !important;
// }
