@import 'ibm-colors';

// $background: #fdfdfd !default;
// $color: #323232 !default;
$accent: (
  light: color('purple', 20),
  neutral: color('purple', 50),
  dark: color('purple', 80),
);
// $transition: all .35s cubic-bezier(.77, .1, .22, 1) !default;
// $font-sizes: 1.618em 1em .618em !default;
$grey: #f9f9f9;
$worklets: #F4B766;
$typed: #44A384;
$props: #AF499C;
$paint: #784ca5;
$layout: #2E3561;
$animation: #CBE961;
$black: #272822;

@import 'stage-fright';
@import 'editor';
@import 'repl';
@import 'animation';

:root {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 125%;
}

*,
li,
h1,
h2,
h3,
h4,
h5,
p {
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: .368em; // 1.618 - 1.25 for ++ spacing after a header
}

a, a:hover {
  background-position: 0 1.2em;
}

p + p,
ul + p {
  margin-top: 1.25rem;
}

pre[class*='language-']:not(.editor--pre), // sass-lint:disable-line force-attribute-nesting, no-qualifying-elements
code[class*='language-']:not(.editor--code) { // sass-lint:disable-line force-attribute-nesting, no-qualifying-elements
  font-size: 1.1rem !important; // sass-lint:disable-line no-important
  line-height: 1.25 !important; // sass-lint:disable-line no-important
}

.nope {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  font-size: calc(3em + 5vw);
  color: color('red', 50);
  padding: .2em .8em;
  border: 1rem double;
  border-radius: 2rem;
  line-height: 1;
  padding-bottom: 0;
  transform: translateX(-35%) translateY(-25%) rotate(-7deg);
  text-transform: uppercase;
  font-family: 'Special Elite', cursive;
  mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  mask-size: 944px 604px;
  mix-blend-mode: multiply;
  text-shadow: 10px 10px color('red', 80);
  background-color: rgba(color('red', 10), .75);

}

._stage--content {
  position: relative;
}

.painted {
  min-height: 20vh;
  min-width: 30vw;
}


[data-state]:not([data-state='end']):not([data-state='intro']) { // sass-lint:disable-line force-pseudo-nesting
  color: transparent;
}

%state-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%new-state-intro {
  text-align: center;

  h1 {
    font-size: calc(2em + 5vw);
  }

  h2 {
    font-size: calc(1.5em + 5vw);
  }

  h3 {
    font-size: calc(1em + 5vw);
  }

  h1, h2, h3 {
    text-shadow: none;
    font-weight: normal;
  }
}

@mixin new-banner($background, $color, $family) {
  background: $background;
  color: $color !important;
  font-family: #{$family}, cursive;

  @extend %new-state-intro;
}

[data-state='intro'],
[data-state='custom-stuff'] {
  @include new-banner($black, $grey, 'Bungee Shade');
}

[data-state='worklets'] {
  @include new-banner($worklets, $black, 'Black Ops One');
}

[data-state='typedom'] {
  @include new-banner($typed, $black, 'Nixie One');
}

[data-state='custom-stuff'] {
  h2 {
    hyphens: unset;
  }
}

[data-state='props'] {
  @include new-banner($props, $grey, 'Megrim');
}

[data-state='paintapi'] {
  @include new-banner($grey, $paint, 'Finger Paint');

  ._stage--content {
    max-width: 95vw;
  }
}

[data-state='animationapi'] {
  background-image: linear-gradient(to bottom, #67B7AF, #3F988F 90%, $grey 90%);

  ._stage--content {
    max-width: 100vw;
  }
}

.progress--slide {
  background-color: $black;
  border-color: $black;
  background-image: none;

  &:hover,
  &:focus {
    background-color: $grey;
  }

  &[data-active] {
    background-color: black;
  }
}

[data-state='layoutapi'] {
  background-color: $layout;
  color: $grey;
  #{'--art-alpha'}: .05;
  #{'--art-color'}: rgba(249, 249, 249, .05);
  #{'--art-steps'}: 100;
  background-image: paint(holman);
  text-align: center;
}

.paint-api {
  #{'--brush-color'}: $paint;
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: paint(brushstroke);
  min-height: 5em;
  height: 50vh;
  width: 100%;
  // transform: rotate(-3.5deg);
}

.paint-api--INLINE {
  display: inline-flex;
  font-size: .75em;
  height: 2em;
  padding: .5rem 1rem;
}

.paint-api--text {
  color: $grey;
  font-family: 'Finger Paint', cursive;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  padding: 0;
  margin: 0;
  text-shadow: 4px 4px $paint, -4px -4px $paint, 4px -4px $paint, -4px 4px $paint;
  text-transform: uppercase;
  transform: rotate(-3.5deg);
  margin-top: .25em;
}

.layout-api {
  display: layout(blueprint);
  #{'--padding'}: 5;
  #{'--offset'}: .25;
  font-family: 'Fredericka the Great', cursive;
  font-weight: normal;
  max-width: 35ch;
  margin: 0 auto;
  color: $grey;
  font-size: calc(1em + 5vw);
}


[data-state='topic'] {
  background-color: color('purple', 10);
  color: black !important;
}

[data-state='supertopic'] {
  background-color: color('purple', 50);
  color: white !important;

  h2 {
    text-shadow: 2px 2px black, -2px 2px black;
  }
}

[data-state='magic'] {
  @extend %state-cover;
  background-color: color('purple', 80);
  background-image: url('../images/magic.gif');
  background-size: contain;
}

[data-state='snozzberries'] {
  @extend %state-cover;
  background-image: url('../images/snozzberries.gif');

  h2 {
    text-shadow: none;
  }
}

[data-state='paint'] {
  @extend %state-cover;
  background-color: black;
  background-image: url('../images/paint.gif');
  background-size: contain;

  h2 {
    text-shadow: none;
  }
}

[data-state='parallax'] {
  @extend %state-cover;
  background-image: url('../images/parallax.gif');

  h2 {
    text-shadow: none;
  }
}

[data-state='tetris'] {
  @extend %state-cover;
  background-color: black;
  background-image: url('../images/tetris.gif');
  background-size: contain;

  h2 {
    text-shadow: none;
  }
}

[data-state='final-layout'] {
  @extend %state-cover;
  background-image: url('../images/final-layout.svg');
  background-size: contain;

  h2 {
    text-shadow: none;
  }
}

[data-state='cool'] {
  @extend %state-cover;
  background-image: url('../images/cool.gif');
}

[data-state='secret-sauce'] {
  @extend %state-cover;
  background-image: url('../images/tennent-sauce.gif');
}

[data-state='fuzzy'] {
  @extend %state-cover;
  background-image: url('../images/fuzzy.webp');

  h2 {
    color: transparent;
    text-shadow: none;
  }
}

[data-state='superfuzzy'] {
  @extend %state-cover;
  background-image: url('../images/dryer floof.gif');

  h2 {
    color: transparent;
    text-shadow: none;
  }
}

[data-state='nuggets'] {
  @extend %state-cover;
  background-image: url('../images/nuggets.gif');
}

[data-state='glue'] {
  $color1: rgb(159, 168, 110);
  $color2: rgb(130, 133, 96);
  @extend %state-cover;
  background-image: url('../images/krazy-glue.webp'), linear-gradient(to bottom, $color1, $color1 68%, $color2 74%, $color2);
  background-size: contain;
  background-position: right;
}

[data-state='fireworks'] {
  @extend %state-cover;
  background-color: black;
  background-image: url('../images/fireworks.webp');
  background-size: contain;
}

[data-state='rad'] {
  @extend %state-cover;
  $rad: rgb(237, 254, 253);

  background-color: $rad;
  background-image: url('../images/rad.gif');
  background-size: contain;
}


[data-state='excited'] {
  @extend %state-cover;
  background-color: $black;
  background-image: url('../images/excited.gif');
  background-size: contain;
}

[data-state='future'] {
  @extend %state-cover;
  background-color: $black;
  background-image: url('../images/future.gif');
}

[data-state='magic-out'] {
  @extend %state-cover;
  background-color: $black;
  background-image: url('../images/magic-gob.gif');
  background-size: contain;
}

[data-state='end'] {
  a {
    &:hover {
      font-weight: bolder;
      text-shadow: none !important; // sass-lint:disable-line no-important
    }
  }
}

.blink,
.blink-2,
.blink-3 {
  animation: blink 1s steps(5, start) infinite;
  animation-delay: 0s;
}

.blink-2 {
  animation-delay: .1s;
}

.blink-3 {
  animation-delay: .2s;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

._stage {
  &--slide {
    position: relative;
  }

  &--footnote {
    bottom: 1rem;
    font-size: .75em;
    left: 1rem;
    position: absolute;
  }
}

.columns {
  column-count: 2;

  li {
    break-inside: avoid;
  }
}

.full-frame {
  height: 100vh;
  width: 67vw;
}

.registered-demo::after { // sass-lint:disable-line force-pseudo-nesting
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
}


.twitter {
  display: block;
  height: 100vh;
  margin: 0 auto;
  max-height: 567px;
  max-width: 360px;
  width: 67vw;
}

.windowCSS code { // sass-lint:disable-line class-name-format, force-pseudo-nesting, force-element-nesting
  font-size: 2rem !important; // sass-lint:disable-line no-important
}

.half {
  box-sizing: border-box;
  float: left;
  margin: 0 .5rem;
  width: calc(50% - 1rem);
}

pre.half {
  margin: .5rem .5rem;
}

.colored {
  color: map-get($accent, 'neutral');
}

del {
  text-decoration-color: map-get($accent, 'neutral');
  text-decoration-style: wavy;
}


.fragment.properties {
  opacity: 1;

  del {
    text-decoration-color: rgba(map-get($accent, 'neutral'), 0);
    transition: $transition;
  }

  .reveal {
    opacity: 0;
    transition: $transition;
    transition-delay: .35s;
  }

  &[data-active="true"] {
    del {
    text-decoration-color: map-get($accent, 'neutral');
  }

  .reveal {
    opacity: 1;
  }
  }
}

.bordered {
  width: 100%;
  border: solid 0;
  border-image: paint(border-colors);
  border-image-slice:
    var(--border-top-width)
    var(--border-right-width)
    var(--border-bottom-width)
    var(--border-left-width);
  border-width:
    calc(var(--border-top-width) * 1px)
    calc(var(--border-right-width) * 1px)
    calc(var(--border-bottom-width) * 1px)
    calc(var(--border-left-width) * 1px);
}


.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  &--1 {
    grid-column: span 1;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  &--2 {
    grid-column: span 2;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}


h1.center {
  text-align: center;
  font-size: 3em;
}


.content-image {
  height: 85vh;
  display: block;
  margin: 0 auto;
}


.progress--slide {
  $multiplier: .65;
  width: 1.25rem * $multiplier;
  height: .95rem * $multiplier;
}


.layout-video {
  margin: 0 auto;
  display: block;
}
