<p><strong>Define</strong></p>
<pre><code class="language-javascript">// From https://drafts.css-houdini.org/css-layout-api/ August 29, 2017 Collection of Interesting Ideas

registerLayout('masonry', class {
  static get inputProperties() {
    return ['width', 'height']
  }
  static get childrenInputProperties() {
    return ['x', 'y', 'position']
  }
  layout(children, constraintSpace, styleMap, breakToken) {
    // Magic layout logic goes here.
  }
});</code></pre>

<div class="fragment">
<p><strong>Then Use</strong></p>
<pre><code class="language-scss">.article {
  display: layout('masonry');
}</code></pre>
</div>
