<pre><code class="language-js">  // ...
  *layout(children, edges, constraints, styleMap) {
    // Get content area inside edges
    const availableInlineSize = constraints.fixedInlineSize;
    const availableBlockSize = constraints.fixedBlockSize;

    const childConstraints = { availableInlineSize, availableBlockSize };

    // Build fragments inside the content area
    const childFragments = yield children.map((child) => {
      return child.layoutNextFragment(childConstraints);
    });

    // ...</code></pre>
