<pre style="font-size: .9em !important"><code style="font-size: .9em !important" class="language-js">    // ...
    // Start counting block positioning from the start of block edges
    let blockOffset = edges.blockStart;
    for (let fragment of childFragments) {
      // Set fragment's block offset
      fragment.blockOffset = blockOffset;
      // Center the block inline
      fragment.inlineOffset = Math.max(
        edges.inlineStart,
        (availableInlineSize - fragment.inlineSize) / 2);

      // Add the fragment's block size to the offset to set the next below this one
      blockOffset += fragment.blockSize + styleMap.get('--gap').value;
    }

    // Add edges back on at the end
    const autoBlockSize = blockOffset + edges.blockEnd;

    // Return the element's generated blockSize, and child fragments
    return {
      autoBlockSize,
      childFragments,
    };
  }
});
</code></pre>
