<pre><code class="language-js">    // ...
    // Start counting block positioning from the start of block edges
    let autoBlockSize = 0;
    for (let fragment of childFragments) {
      // Set fragment's block offset
      fragment.blockOffset = blockOffset;
      // Center the block inline
      fragment.inlineOffset = (availableInlineSize - fragment.inlineSize) / 2;

      // Add the fragment's block size to the offset to set the next below this one
      blockOffset += fragment.blockSize + styleMap.get('--gap').value;
    }

    // Return the element's generated blockSize, and child fragments
    return {
      autoBlockSize,
      childFragments,
    };
  }
});
</code></pre>
