<pre style="font-size: .9em !important;"><code style="font-size: .9em !important;" class="language-js">// From https://drafts.css-houdini.org/css-layout-api/#example-13a91ee5 February 20, 2019 Editor's Draft

registerLayout('centered', class {
  async intrinsicSizes(children, edges, styleMap)
    // Get all the sizes!
    const childrenSizes = await Promise.all(children.map((child) => {
      return child.intrinsicSizes();
    }));

    // How large the box can be given unlimited space
    //  in order to fit its content with minimum unused
    //  space
    const maxContentSize = childrenSizes.reduce((max, childSizes) => {
      return Math.max(max, childSizes.maxContentSize);
    }, 0) + edges.inline;

    // How small the box can be so that its content
    //  doesn't overflow
    const minContentSize = childrenSizes.reduce((max, childSizes) => {
      return Math.max(max, childSizes.minContentSize);
    }, 0) + edges.inline;

    return { maxContentSize, minContentSize };
  }

  // ...</code></pre>
