<h5>ConstraintSpace</h5>
<ul>
  <li>Passed in to layout and represents the available space for the current layout to perform layout inside</li>
  <li class="fragment"><code>percentageInlineSize</code> and <code>percentageBlockSize</code> are the percentages a layout should resolve against</li>
  <li class="fragment"><code>blockFragmentType</code> dictates whether the current layout should produce a <code>fragment</code> at <code>blockSize</code>; may choose not to if it has properties like <code>break-inside: avoid</code></li>
</ul>
