<div class="_fake-layout">
  <div class="_fake-layout--item">
    <p>Our parent would have <code>display: layout(centered-stacked)</code> on it</p>
  </div>
  <div class="_fake-layout--item">
    <p>This is a child in our layout!</p>
  </div>
  <div class="_fake-layout--item">
    <p>This is another child in our layout!</p>
  </div>
  <div class="_fake-layout--item">
    <p>And a third!</p>
  </div>
  <div class="_fake-layout--item">
    <p>And a fourth!</p>
  </div>
  <div class="_fake-layout--item">
    <p>Last one!</p>
  </div>
</div>
