---
notes: >
  * Includes `border`, `scrollbar`, and `padding` attributes representing their respective width

  * Includes the `all` attribute which represents the sum of the above

  * `LayoutEdgeSizes` (each of the above) is an object that represents the width, in CSS pixels, of an edge in the `inlineStart`, `inlineEnd`, `blockStart`, and `blockEnd` dimensions

  * `LayoutEdgeSizes` also includes the `inline` and `block` attributes that represent their respective sums
---
<img data-src="images/layoutEdges.svg" alt="" class="content-image">
