---
footnote: >
  `inline` and `block` are [abstract dimensions](https://drafts.csswg.org/css-writing-modes-4/#abstract-dimensions)
---
<h5>Fragment</h5>
<ul>
  <li>To perform layout on a box, <code>layoutNextFragment()</code> is called on `LayoutChild` to produce a <code>fragment</code></li>
  <li class="fragment">Contains <code>inlineSize</code> and <code>blockSize</code> attributes, which are set by the layout algorithm and cannot be changed</li>
  <li class="fragment">Can be positioned by setting its <code>inlineOffset</code> and <code>blockOffset</code> attributes, which default to 0</li>
</ul>
