<pre class="half"><code class="language-markup">&lt;!-- From https://drafts.css-houdini.org/css-layout-api August 29, 2017 Collection of Interesting Ideas --&gt;

&lt;!-- Fragment --&gt;
&lt;!-- inlineSize === 50 --&gt;
&lt;style&gt;
  #container {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    padding: 5px;
  }
  #layout-api {
    display: layout(foo);
    margin: 0 20px;
  }
&lt;/style&gt;
&lt;div id="container"&gt;
  &lt;div id="layout-api"&gt;&lt;/div&gt;
&lt;/div&gt;
</code></pre>

<pre class="half fragment"><code class="language-markup">&lt;!-- From https://drafts.css-houdini.org/css-layout-api August 29, 2017 Collection of Interesting Ideas --&gt;

&lt;!-- Fragment --&gt;
&lt;!-- inlineSize === boxSize === 80 --&gt;
&lt;style&gt;
  #container {
    position: relative;
    width: 100px;
    height: 100px;
  }
  #layout-api {
    display: layout(foo);
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    position: absolute;
  }
&lt;/style&gt;
&lt;div id="container"&gt;
  &lt;div id="layout-api"&gt;&lt;/div&gt;
&lt;/div&gt;
</code></pre>
