<h4>Main Terminology</h4>
<ul>
  <li><strong>Current Layout</strong> - Layout algorithm for the box we are currently performing layout for</li>
  <li class="fragment"><strong>Parent Layout</strong> - Layout algorithm for the box's direct parent (the thing requesting <em>current layout</em> to be performed)</li>
  <li class="fragment"><strong>Child Layout</strong> - Layout algorithm for the <code>LayoutChild</code> of the current layout</li>
  <li class="fragment"><code>LayoutChild</code> - CSS generated box <em>before</em> layout has occurred</li>
  <li class="fragment"><code>Fragment</code> - Container for layout information</li>
  <li class="fragment"><code>LayoutEdges</code> - The size of the box model of the current box being laid out</li>
  <li class="fragment"><code>ConstraintSpace</code> - Available space for the current layout</li>
</ul>
