---
footnote: >
  [CSS Intrinsic & Extrinsic Sizing](https://www.w3.org/TR/css-sizing-3/)
---
<h5><code>layoutWorklet</code> Class</h5>
<pre><code class="language-js">// From https://drafts.css-houdini.org/css-layout-api/ August 29, 2017 Collection of Interesting Ideas

class myLayout {
  // Properties to look for on calling element
  static get inputProperties() { return ['--foo']; }
  // Properties to look for on direct child elements
  static get childrenInputProperties() { return ['--bar']; }
  // How children are displayed; either "block" to blockify like Flexbox and Grid
  // or "normal" to let elements dictate
  static get childDisplay() { return 'normal'; }

  // Generator functions instead of normal functions to support async/parallel layout engines
  *intrinsicSizes(children, styleMap) {
    // children - Child elements of box being laid out
    // styleMap - Typed OM style map of box being laid out

    // Intrinsic sizes code goes here.
  }

  *layout(space, children, styleMap, edges, breakToken) {
    // space - `ConstraintSpace` for the box being laid out
    // children - Child elements of the box being laid out
    // styleMap - Typed OM style map of box being laid out
    // edges - `LayoutEdges` of box being laid out
    // breakToken - Token (if paginating for printing for example) to resume layout at

    // Layout code goes here.
  }
}</code></pre>
