---
footnote: >
  [CSS Intrinsic & Extrinsic Sizing](https://www.w3.org/TR/css-sizing-3/)
---
<h5><code>layoutWorklet</code> Class</h5>
<pre><code class="language-js">// From https://drafts.css-houdini.org/css-layout-api/ April 24, 2018 Editor's Draft

class myLayout {
  // Properties to look for on calling element
  static get inputProperties() { return ['--foo']; }
  // Properties to look for on direct child elements
  static get childrenInputProperties() { return ['--bar']; }
  // Options for the Layout
  static get layoutOptions() {
    return { childDisplay: 'normal', sizing: 'block-like' };
  }

  // Determines how a box fits its content or fits in to our layout context
  *intrinsicSizes(children, edges, styleMap) {
    // children - Child elements of box being laid out
    // edges - `LayoutEdges` of Parent Layout
    // styleMap - Typed OM style map of box being laid out
  }

  *layout(children, edges, constraints, styleMap, breakToken) {
    // children - Child elements of Parent Layout
    // edges - `LayoutEdges` of Parent Layout
    // constraints - `Layout Constraints` of Parent Layout
    // styleMap - Typed OM style map of Parent Layout
    // breakToken - Token (if paginating for printing for example) to resume layout at
  }
}</code></pre>
