<h5>LayoutEdges</h5>
<ul>
  <li>Includes <code>border</code>, <code>scrollbar</code>, and <code>padding</code> attributes representing their respective width</li>
  <li class="fragment">Includes the <code>all</code> attribute which represents the sum of the above</li>
  <li class="fragment"><code>LayoutEdgeSizes</code> is an object that represents the width, in CSS pixels, of an edge in each of the <a href="https://drafts.csswg.org/css-writing-modes-4/#abstract-dimensions">abstract dimensions</a>(<code>inlineStart</code>, <code>inlineEnd</code>, <code>blockStart</code>, <code>blockEnd</code>)</li>
  <li class="fragment"><code>LayoutEdgeSizes</code> also includes the <code>inline</code> and <code>block</code> attributes that represent their respective sums</li>
</ul>
