---
pages:
  - title: Magic Tricks with Houdini
    slides:
      - intro.md
  - folder: intro
    slides:
      - what.html
      - desc.html
      - magic.html
  - folder: intro
    slides:
      - practical.html
      - extend.html
      - wait.html
      - not-quite.html
      - sw.html
  - slides:
    - intro/cool.html
  - slides:
    - intro/thanks.html
  - slides:
    - intro/warning.html
    - intro/ready.html
  - folder: worklet
    slides:
      - intro.html
      - overview.html
      - loading.html
      - inside.html
      - diagram.html
      - nuggets.html
      - secret.html
  - folder: typedom
    slides:
      - intro.html
      - typedom.html
      - value.html
      - typedom-example.html
      - underlying.html
      - happy-nuggets.html
  - folder: typedom
    slides:
      - what-to-do.html
      - rad.html
  - folder: custom
    slides:
      - intro.html
      - windowCSS.html
  - folder: custom/properties
    slides:
      - intro.html
      - basic.html
      - overview.html
      - syntaxes.html
      - combiners.html
      - advanced.html
  - folder: custom/paint
    slides:
      - intro.html
      - explain.html
      - worklet.html
      - basic.html
      - demo.html
  - folder: custom
    slides:
      - fuzzy.html
  - folder: custom/animation
    slides:
      - intro.html
      - explain.html
      - worklet.html
      - twitter-worklet.html
      - twitter-browser.html
      - diagram.html
      - twitter-markup.html
      - twitter.html
  - folder: custom/layout
    slides:
      - intro.html
      - explain.html
      - terminology.html
      - diagram.html
      - child.html
      - child-example.html
      - fragment.html
      - fragment-example-1.html
      - fragment-example-2.html
  - folder: custom/layout
    slides:
      - edges.html
      - edges-example.html
      - constraint.html
      - utilities.html
      - worklet.html
      - block-like-1.html
      - block-like-2.html
      - block-like-3.html
  - folder: outro
    slides:
      - future.html
      - excited.html
      - magic.html
  - slides:
      - thanks.html
---
{% extends '_layout.html' %}

{% from '_slide.html' import slide %}

{%block content %}
<main class="_stage">
  {% for section in pages %}
    <article class="_stage--group" {% if section.title %}data-title="{{section.title}}"{% endif %}>
      {% for page in section.slides %}
        {{ slide(page, section) }}
      {% endfor %}
    </article>
  {% endfor %}
</article>
{% endblock %}

