---
pages:
  - title: Magic Tricks with Houdini
    slides:
      - intro.md
  - folder: intro
    slides:
      - what.html
      - desc.html
      - magic.html
  - folder: intro
    slides:
      - practical.html
      - extend.html
      - wait.html
      - not-quite.html
  - slides:
    - intro/cool.html
  - slides:
    - intro/warning.html
    - intro/ready.html
  - folder: parser
    slides:
      - parser.html
      - typedom.html
      - value.html
      - typedom-example.html
      - underlying.html
      - secret.html
  - folder: parser
    slides:
      - what-to-do.html
      - rad.html
  - folder: custom
    slides:
      - intro.html
      - windowCSS.html
  - folder: custom/properties
    slides:
      - intro.html
      - basic.html
      - advanced.html
  - folder: custom/paint
    slides:
      - intro.html
      - explain.html
      - basic.html
      - demo.html
  - folder: custom/animation
    slides:
      - intro.html
      - explain.html
      - basic.html
      - css.html
      - twitter.html
  - folder: custom/layout
    slides:
      - intro.html
      - explain.html
      - basic.html
  - folder: custom/parser
    slides:
      - intro.html
      - explain.html
      - basic.html
  - folder: custom/at-rules
    slides:
      - intro.html
      - explain.html
      - warning.html
      - basic.html
  - folder: outro
    slides:
      - excited.html
      - magic.html
  - slides:
      - thanks.html
---
{% extends '_layout.html' %}

{% from '_slide.html' import slide %}

{%block content %}
<article class="flowtime">
  {% for section in pages %}
    <section class="ft-section" {% if section.title %}data-title="{{section.title}}"{% endif %}>
      {% for page in section.slides %}
        {{ slide(page, section) }}
      {% endfor %}
    </section>
  {% endfor %}
</article>
{% endblock %}

