---
pages:
  - title: Magic Tricks with Houdini
    slides:
      - intro.md
  - slides:
      - thanks.html
---
{% extends '_layout.html' %}

{% from '_slide.html' import slide %}

{%block content %}
<article class="flowtime">
  {% for section in pages %}
    <section class="ft-section" {% if section.title %}data-title="{{section.title}}"{% endif %}>
      {% for page in section.slides %}
        {{ slide(page, section) }}
      {% endfor %}
    </section>
  {% endfor %}
</article>
{% endblock %}

