<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if title %}{{ title }} | {% endif %}Magic Tricks with Houdini</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:400,400i,600,600i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade&text=MagicTrkswithHoudinTheColCustomStuff" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Special+Elite&text=NOPE" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One&text=Worklets" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Megrim&text=CustomProperties" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Finger+Paint&text=PAINT" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Faster+One&text=AnimationAPI" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&text=LAYOUTAPI" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nixie+One&text=TypedOM" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js" defer></script>
  <script src="js/main.js" defer></script>
</head>
<body>

  {% block content %}{% endblock %}
</body>
</html>
