{% macro slide(slide, section) %}

{% if section.folder %}
  {% set url = 'pages/' + section.folder + '/' + slide %}
{% else %}
  {% set url = 'pages/' + slide %}
{% endif %}

{% set attrs = url|attributes %}

<section  class="_stage--slide" {% if attrs.title %}data-title="{{attrs.title}}"{% endif %} {% if attrs.state%}data-state="{{attrs.state}}"{% endif %}>
  {% if attrs.video %}
  <video class="_stage--video{% if attrs.cover %}__cover{% endif %}" autoplay="true" playsinline="true" loop="true" muted="true" src="videos/{{attrs.video}}"></video>
  {% else %}
  <div class="_stage--content">
    {{ url|render|safe }}
  </div>
  {% if attrs.notes %}
  <aside class="_stage--notes">
    {{ attrs.notes|markdown|safe }}
  </aside>
  {% endif %}
  {% if attrs.footnote %}
  <footer class="_stage--footnote">
    {{ attrs.footnote|markdown|safe }}
  </footer>
  {% endif %}
  {% endif %}
</section>

{% endmacro %}
